<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doglist Update</title>
    <style media="screen">
    .parallax {
        /* The image used */
        background-image: url("/images/{{dog.image}}");

        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300|Sacramento" rel="stylesheet">
  </head>
  <body>
    <section>
      <div class="form-title">
        <p>Update Dog</p>
      </div>
      <div class="parallax"></div>
      <div class="form-content">
        <!-- Query String goes after the whole route -->
        <form action="/dogs/{{dog.id}}/edit?_method=PATCH" method="post" enctype="multipart/form-data">
          {{>form}}
        </form>
      </div>
    </section>
  </body>
</html>
