<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a New Dog</h1>
    <form action="/dogs/123?_method=DELETE" method="post">
      <!-- <label for="dogName">Name: </label> -->
      <!-- name is what key will be -->
      <!-- <input id="dogName" type="text" name="name">
      <label for="dogAge">Age (in years): </label>
      <input id="dogAge" type="number" name="age"> -->
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
