<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- relation to public folder -->
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300|Sacramento" rel="stylesheet">
    <title>New Doglist</title>
    <style media="screen">
    .parallax {
        /* The image used */
        background-image: url('https://cdn.unifiedcommerce.com/content/product/large/871241009370.jpg') ;

        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
  </head>
  <body>
    <section>
      <div class="form-title">
        <p>Add New Dog</p>
      </div>
      <div class="parallax"></div>
      <div class="form-content">
        <form action="/dogs" method="post" enctype="multipart/form-data">
          {{>form}}
        </form>
      </div>
    </section>
  </body>
</html>
