<!-- name is what key will be -->
<label for="dogName"><b>Name: </b></label>
<input id="dogName" type="text" name="name" value={{dog.name}}>
<br>
<!-- age -->
<label for="dogAge"><b>Age (in years): </b></label>
<input id="dogAge" type="number" name="age" value={{dog.age}}>
<br>
<!-- Breed -->
<label for="dogBreed"><b>Breed: </b></label>
<input id="dogBreed" type="text" name="breed" value={{dog.breed}}>
<br>
<!-- Description -->
<label for="dogDescription"><b>Three words/phrases to describe the dogs personality: </b></label>
<input id="dogDescription" type="text" name="dogDescription" value={{dog.dogDescription}}>
<br>
<!-- Image Link -->
<label for="dogImage"><b>Image: </b></label>
<input id="dogImage" type="file" name="image">
<br>
<input type="submit" value="Submit">
